            html {
                scroll-behavior: smooth;
                font-family: sans-serif;
                font-weight: 600;
                color: rgb(221, 49, 168);    
            }
            
            body {
                margin: 0 auto;
                padding: 0;
                width: 80%;
                max-width: 960px;
            }
            
            nav {
                margin: 0 auto;
                width: 80%;
                max-width: 960px;
                background: silver;
                overflow: hidden;
                position: fixed;
                top: 0;
                z-index: 5;
            }
            
            nav ul {
                display: flex;
                margin: 0;
                padding: 0;
                list-style: none;
                justify-content: flex-end;
            }
            
            nav li {
/*                padding: 10 0;*/
            }
            
            nav li a{
                display: block;
                padding: 10px;
                width: 100px;
                border: 1px dotted grey;
                font-weight: 100;
                text-align: center;
                text-decoration: none;
                color: darkblue;
                text-transform: uppercase;
            }
            
            nav li a:hover {
                color: whitesmoke;
                background-color: darkblue;
            }
            
            .page {
                height: 100vh;
                padding: 30 0vh;
                display:flex;
                background-color: cadetblue;
                color: ghostwhite;
                overflow: hidden;
            }
            

        
